{
    "printWidth": 100,
    "singleQuote": true,
    "htmlWhitespaceSensitivity": "ignore",
    "tabWidth": 4,
    "semi": false,
    "trailingComma": "all",
    "plugins": [
        "prettier-plugin-organize-imports",
        "prettier-plugin-tailwindcss"
    ],
    "pluginSearchDirs": false
}
